
*.png
*.pdf
*.eps
*.so
*.d
*.root
*.zip
confCommands
Djets/runGrid/*
Djets/DsignalExtraction/signalExtraction_MC.C
Djets/ResponseMatrix/bkgRM03/
Djets/cuts_pp/Dzero/makeTFile4CutsD0Jet_pp5TeV_BasepPb_noTopo.C
Djets/fastSimulation_April19MyCode/
Djets/run_Dstar.csh
Djets/run_analysis_pp.csh
Djets/run_analysis_pp_direct.csh
Djets/systematics/unfRangesComparison_max30.C
Djets/todo
Djets/xsections
analysisNote_pPbQM18/
code/upgrade/AddTaskMult.C
code/upgrade/AddTasksMult.C
code/upgrade/AliAnalysisTaskMult.cxx
code/upgrade/AliAnalysisTaskMult.h
code/upgrade/AnalysisTrainCorrJetsLocalMCMultpPb.C
code/upgrade/AnalysisTrainCorrJetsLocalMCpPb.C
code/upgrade/Mult_pPbMC.C
simulations_POWHEG/plotSimSpectra_2.C
fastSimulations/fastsimulations/FastSim_*
